<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>
        {% if page.title %} {{ page.title }} &mdash; {% endif %}
        {{ site.name }}
    </title>

    <meta name="robots" content="index,follow">
    <meta name="revisit-after" content="1 days">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">

    {% if site.highlighter %} <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" type='text/css'> {% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml">

</head>

<body>
    <header id="top" class="main-header">

        <div class="module title color-1">
            <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        </div>

        {% if site.description %}
            <div class="module description color-2">
                {{ site.description }}
            </div>
        {% endif %}

        <nav class="module main-menu color-4">
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/misc/donate.html">Donate!
            <a href="{{ site.baseurl }}/misc/whoami.html">whoami</a>
            <a href="{{ site.baseurl }}/notebook">Notebook</a>
        </nav>

        <div class="module links color-3">
            <a href="https://github.com/{{ site.github }}" title="Profile in Github" target="_blank">github</a>
            <a href="https://twitter.com/{{ site.twitter }}" title="Profile in Twitter" target="_blank">twitter</a>
            <a href="https://plus.google.com/{{ site.google }}" title="Profile in Google+" target="_blank">Google+</a>
            <a href="{{ site.baseurl }}/feed.xml" title="Suscribe to RSS" target="_blank">rss</a>
        </div>

<a class="twitter-timeline" href="https://twitter.com/173210" data-widget-id="340796223290220544">@173210's Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <div class="module notice">
             Can't you see my Twitter timeline because the firewall of your
             country is out of order? Click
             <a href=https://github.com/waylau/vpngate-mirrors>HERE</a> to fix
             the issue.
        </div>

    </header>

    {{ content }}

    {% include footer.html %}

</body>
</html>
